/* = Dimensions
----------------------------------------------------------------------------------------------------------------- */
$app-height: 768px;
$app-width: 1024px;

/* = Font Colours
----------------------------------------------------------------------------------------------------------------- */
$navy: #0c1a36;
$light-blue: #0098db;
$pink: #d71f85;
$grey: #ccc;
$dark-grey: #4d4d4d;
$purple: #3d006e;
$green: #729516;
$orange: #ffa100;
$red: #c11b3a;
$cherry: #e00034;

/* = Typefaces
----------------------------------------------------------------------------------------------------------------- */
$sans: Helvetica, Arial, Sans-Serif;