<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ options.title }}</title>
        <meta name="description" content="Adapting to the changing custody landscape">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="apple-mobile-web-app-title" content="Adapting to the changing custody landscape">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="stylesheet" href="build/css/style.min.css?v1511">

        <link rel="apple-touch-icon" sizes="76x76" href="app-icon_76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="app-icon_152.png">
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
    </head>
    <body>
        
        <div id="main" class="page">

            {% block content %} {% endblock %}

        </div>
        <!-- <script src="/www.wufoo.com/scripts/embed/form.js"></script> -->
        <script src="build/js/app.min.js?v1511"></script>

    </body>
</html>