<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Here is a solution based on your selection',
  nextLink: '/maps/map5.html',
  prevLink: '/issues.html',
  navBackClasses: 'js-reset'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model animate animate--page" id="model__generator">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}
            
            <h2 class="model__title brand-infra">Account Operator – Own Account at CSD:<br />Utilising Client Cash &amp; Deutsche Bank Cash</h2>

            <div class="model__image">
                <img src="img/models/model5.png" alt="Account Operator – Own Account at CSD" width="1000" />
            </div>

            <div class="model__info">
                
                {% include "partials/selected_options.html" %}        

                {% include "partials/model_legend.html" %}

            </div>
        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}