<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Where is your solution available?',
  nextLink: '#signup',
  prevLink: '/models/model12.html',
  navBackClasses: 'js-load-model',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main map animate animate--page">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}
            <h2 class="map__title brand-infra">Full Service Hub Custody - Single Access Solution</h2>
            
            <div class="map__image">

                <img src="img/maps/MAP_Base.png" class="map__base animate-v-slow animate--fade animate--delay--1000" />
                <img src="img/maps/MAP_12_HIGHLIGHTS_Cyan.png" class="map__mydy animate-v-slow animate--fade animate--delay--2000" />
                <img src="img/maps/MAP_12_HIGHLIGHTS_Blue.png" class="map__mydy animate-v-slow animate--fade animate--delay--3000" />                
              
            </div>

            <div class="map__info">
              
             <h3>Direct access markets</h3>
             <span class="hint">Click on the market location for more information</span>

             <div class="map__col">
                <ul>
                  <li class="mydy"><a href="#">Austria</a></li>
                  <li class="mydy"><a href="#">Belgium</a></li>
                  <li class="mydy"><a href="#">Brazil</a></li> 
                  <li class="mydy"><a href="#">China</a></li>
                  <li class="mydy"><a href="#">Czech Republic</a></li>                
                  <li class="mydy"><a href="#">France</a></li>
                  <li class="mydy"><a href="#">Germany</a></li>
                  <li class="mydy"><a href="#">Hong Kong</a></li>
                  <li class="mydy"><a href="#">Hungary</a></li>
                  <li class="mydy"><a href="#">India</a></li>
                  <li class="mydy"><a href="#">Indonesia</a></li>
                  <li class="mydy"><a href="#">Ireland</a></li>
                  <li class="mydy"><a href="#">Italy</a></li> 
                  <li class="mydy"><a href="#">Korea</a></li>    
                  <li class="mydy"><a href="#">Malaysia</a></li>               
        
                </ul>
              </div>

              <div class="map__col">
                 <ul>    
                  <li class="mydy"><a href="#">Netherlands</a></li>              
                  <li class="mydy"><a href="#">Pakistan</a></li>
                  <li class="mydy"><a href="#">Philippines</a></li>
                  <li class="mydy"><a href="#">Poland</a></li>
                  <li class="mydy"><a href="#">Portugal</a></li>
                  <li class="mydy"><a href="#">Singapore</a></li>            
                  <li class="mydy"><a href="#">Spain</a></li>
                  <li class="mydy"><a href="#">Sri Lanka</a></li>
                  <li class="mydy"><a href="#">Taiwan</a></li>
                  <li class="mydy"><a href="#">Thailand</a></li>
                  <li class="mydy"><a href="#">Turkey</a></li>
                  <li class="mydy"><a href="#"><a href="#">United Kingdom</a></li>
                  <li class="mydy"><a href="#">United States</a></li>     
                  <li class="mydy"><a href="#">Vietnam</a></li>    
                </ul>
             </div>

             {% include "partials/alt_legend.html" %}

          </div>

        </div>
        {% include "partials/map_modal.html" %}
        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}