<div class="map__legend">
	<p class="mydy"><span></span>DB direct market offering</p>
	<p class="mydn"><span></span>DB indirect market offering via 3<sup>rd</sup> party*<br /><span class="sml_text">(*list of markets can be supplied upon request)</span></p>
</div>