<footer class="app__foot">
    <nav class="app__nav">
        <a href="#" class="app__nav__item app__nav__item--start btn btn--newuser">New User</span></a>
        <a href="" class="app__nav__item app__nav__item--rewind">Rewind</a>
        <a href="{{ options.prevLink }}" class="app__nav__item app__nav__item--back {{ options.navBackClasses }}">Back</a>
        <a href="{{ options.nextLink }}" class="app__nav__item app__nav__item--next {{ options.navClasses }}">Next</a>
    </nav>
    <p class="app__foot__brand">Deutsche Bank<br /><span class="highlight">Global Transaction Banking</span></p>
</footer>

