<div class="lightbox visual-hide" id="signup">
    <div class="lightbox__content valign">
        <h2 class="center">Interested in hearing more?</h2>
        <!-- Begin MailChimp Signup Form -->
        <form action="/wardour.us13.list-manage.com/subscribe/post?u=bf3e3de6d8f93c8e41b27a040&amp;id=95180a4f13" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                               
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
            <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
        </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
        </label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-COMPANY">Company  <span class="asterisk">*</span>
        </label>
            <input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
        </div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        
        <!-- Hidden Fields -->
        <input type="hidden" name="MODELNAME" value="{{ options.title }}" id="mce-MODELNAME">
        <input type="hidden" name="ISSUES" value="" id="mce-ISSUES">
        
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bf3e3de6d8f93c8e41b27a040_95180a4f13" tabindex="-1" value=""></div>
        <div class="clear">
            <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn--submit btn--right">
            <a href="#signup" class="btn btn--close btn--right js-launch-lightbox">&times; Close</a>
        </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MODELNAME';ftypes[4]='text';fnames[5]='ISSUES';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
</div>