<header class="app__head">

	<div id="user--logged--in"><div id="user--welcome"></div><div id="user--not--welcome"></div></div>

    <img class="app__head__logo" src="img/logo-blue.svg" alt="Deutsche Bank" height="50" width="50" />
    <div class="valign">
        <h1 class="animate animate--title">{{ options.title }}</h1>
    </div>
    <!--
	<div id="dev_console" style="width: 400px; position: absolute; top: 10px; right: 0px; border-style: solid; border-width: 2px; border-color: #59FF00; background-color:rgba(0,0,0,0.8); display: block; padding: 10px; color: #59FF00; font-family: monospace; font-size: 12px; z-index: 9999;">
	    <div id="dev_up" style="margin-bottom: 10px;"></div>
	    <div id="dev_ic" style="margin-bottom: 10px;"></div>
	    <div id="dev_ma" style="margin-bottom: 10px;"></div>
	    <div id="dev_opa" style="margin-bottom: 10px;"></div>
	    <div id="dev_wtd" style="margin-bottom: 10px;"></div>
	    <div id="dev_awd" style="margin-bottom: 10px;"></div>
	</div>
    -->

    <script>

	    var signOut = function(){
   			// sessionStorage.clear();
			document.getElementById("user--logged--in").style.opacity = "0";
            event.preventDefault();
            sessionStorage.clear(); 
            window.location.href = "/";
		}

		if ((sessionStorage.getItem("formFirstName") !== null)) {
		    welcome = document.getElementById("user--welcome");
		    welcome.innerHTML="Welcome "+sessionStorage.getItem("formFirstName");
		    notWelcome = document.getElementById("user--not--welcome");
		    notWelcome.innerHTML="Not "+sessionStorage.getItem("formFirstName")+"?<br /><span onclick=\"signOut()\" id=\"signOut\">Click here</span>";	
		    document.getElementById("user--logged--in").style.opacity = "1";	    	
		}

    </script>

</header>