<div class="map__legend">
	<p class="mydy"><span></span>Market permitted and DB offered</p>
	<p class="mydn"><span></span>Market permitted</p>
	<p class="mndn"><span></span>Market not permitted</p>
</div>