<div class="map_modal">
	<div class="map_modal_contents">  
        <div class="map_modal_close">X</div>
        			<div class="map_partial" data-country="Austria">{% include "partials/map_modals/Austria.html" %}</div>
        			<div class="map_partial" data-country="Belgium">{% include "partials/map_modals/Belgium.html" %}</div>
                   	<div class="map_partial" data-country="Brazil">{% include "partials/map_modals/Brazil.html" %}</div>
                   	<div class="map_partial" data-country="China">{% include "partials/map_modals/China.html" %}</div>       
                   	<div class="map_partial" data-country="Czech Republic">{% include "partials/map_modals/Czech Republic.html" %}</div>
                   	<div class="map_partial" data-country="France">{% include "partials/map_modals/France.html" %}</div>           
                   	<div class="map_partial" data-country="Germany">{% include "partials/map_modals/Germany.html" %}</div>
                   	<div class="map_partial" data-country="Hong Kong">{% include "partials/map_modals/Hong Kong.html" %}</div>           
                   	<div class="map_partial" data-country="Hungary">{% include "partials/map_modals/Hungary.html" %}</div>
                   	<div class="map_partial" data-country="India">{% include "partials/map_modals/India.html" %}</div>           
                   	<div class="map_partial" data-country="Indonesia">{% include "partials/map_modals/Indonesia.html" %}</div>           
                   	<div class="map_partial" data-country="Ireland">{% include "partials/map_modals/Ireland.html" %}</div>
                  	<div class="map_partial" data-country="Italy"> {% include "partials/map_modals/Italy.html" %}</div>           
                   	<div class="map_partial" data-country="Korea">{% include "partials/map_modals/Korea.html" %}</div>
                   	<div class="map_partial" data-country="Malaysia">{% include "partials/map_modals/Malaysia.html" %}</div>
                   	<div class="map_partial" data-country="Netherlands">{% include "partials/map_modals/Netherlands.html" %}</div>
                   	<div class="map_partial" data-country="Pakistan">{% include "partials/map_modals/Pakistan.html" %}</div>          
                   	<div class="map_partial" data-country="Philippines">{% include "partials/map_modals/Philippines.html" %}</div>
                   	<div class="map_partial" data-country="Poland">{% include "partials/map_modals/Poland.html" %}</div>           
                   	<div class="map_partial" data-country="Portugal">{% include "partials/map_modals/Portugal.html" %}</div>
                   	<div class="map_partial" data-country="Saudi Arabia">{% include "partials/map_modals/Saudi Arabia.html" %}</div>           
                   	<div class="map_partial" data-country="Singapore">{% include "partials/map_modals/Singapore.html" %}</div>
                   	<div class="map_partial" data-country="South Africa">{% include "partials/map_modals/South Africa.html" %}</div>
                   	<div class="map_partial" data-country="Spain">{% include "partials/map_modals/Spain.html" %}</div>           
                   	<div class="map_partial" data-country="Sri Lanka">{% include "partials/map_modals/Sri Lanka.html" %}</div>
                   	<div class="map_partial" data-country="Switzerland">{% include "partials/map_modals/Switzerland.html" %}</div>
                   	<div class="map_partial" data-country="Taiwan">{% include "partials/map_modals/Taiwan.html" %}</div>           
                   	<div class="map_partial" data-country="Thailand">{% include "partials/map_modals/Thailand.html" %}</div>
                   	<div class="map_partial" data-country="Turkey">{% include "partials/map_modals/Turkey.html" %}</div>           
                   	<div class="map_partial" data-country="UAE">{% include "partials/map_modals/UAE.html" %}</div>
                   	<div class="map_partial" data-country="United Kingdom">{% include "partials/map_modals/United Kingdom.html" %}</div>
                   	<div class="map_partial" data-country="United States">{% include "partials/map_modals/United States.html" %}</div>
                   	<div class="map_partial" data-country="Vietnam">{% include "partials/map_modals/Vietnam.html" %}</div>
    </div>
</div>  