<div class="model__key">
    <ul class="model__key__list">
        <li><span class="icon icon--infra"></span> Infrastructure change</li>
        <li><span class="icon icon--reg"></span> Regulatory change</li>
        <li><span class="icon icon--priority"></span> Prioritised selection</li>
        <li><span class="icon icon--not-priority"></span> Not a priority selection</li>
    </ul>
    <ul class="model__key__list">
        <li><span class="icon icon--check-full">&check;</span> Fully provides the associated benefit</li>
        <li><span class="icon icon--check">&check;</span> Provides a level of benefit</li>                                   
        <li><span class="icon icon--cross">&times;</span> Does not offer a solution in this area</li>
        <li><span class="icon icon--minus">&minus;</span> Not applicable / Not required</li>
    </ul>
</div>