
<div id="other-benefits"></div>

<div class="model__legend">
	<p class="legend_client"><span></span>Client driven</p>
	<p class="legend_reg"><span></span>Regulatory driven</p>
	<p class="legend_infra"><span></span>Infrastructure driven</p>
</div>