                    <h4>This model provides the following beneﬁts to help you overcome the main issues facing your business</h4>

                    <div class="component new-components component-option-0 component--priority" data-choice-rereffed="a"></div>
                    <div class="component new-components component-option-1 component--priority" data-choice-rereffed="a"></div>
                    <div class="component new-components component-option-2 component--priority" data-choice-rereffed="a"></div>                    

                    <div class="component component--infra" data-choice-ref="a">
                        <h3>Settlement harmonisation</h3>
                        <p>Asset servicing only models allow clients to manage their own settlement process completely</p>
                    </div>
                    <div class="component component--infra" data-choice-ref="b">
                        <h3>Central Bank money</h3>
                        <p>Your own Central Bank money account can be linked in T2S for settlement cash</p>
                    </div>

                    <div class="component component--reg" data-choice-ref="e">
                        <h3>Investor protection (1)</h3>
                        <p>Your assets can be segregated within the custodian's books</p>
                    </div>
                    <div class="component component--reg" data-choice-ref="f">
                        <h3>Investor protection (2)</h3>
                        <p>Your assets are held away from other clients externally at the CSD</p>
                    </div>
                    <div class="component component--reg" data-choice-ref="g">
                        <h3>Investor protection (3)</h3>
                        <p>Your assets are held in your name at the CSD</p>
                    </div>
                    <div class="component component--reg" data-choice-ref="h">
                        <h3>Asset mobility</h3>
                        <p>Assets are held centrally, where they do not need to move from the local market to be used in <br />tri-party programmes</p>
                    </div>
                    <div class="component component--reg" data-choice-ref="d">
                        <h3>Liquidity optimisation</h3>
                        <p>Allows for a single settlement liquidity pool. Although, this splits cash services between settlement and asset servicing</p>
                    </div>

                    <div class="component component--client" data-choice-ref="c">
                        <h3>Local market expertise</h3>
                        <p>Deutsche Bank has extensive on the ground expertise available for this model</p>
                    </div>

                    <div class="component component--client" data-choice-ref="i">
                        <h3>Best Execution</h3>
                        <p>We need to provide best-in-class trade execution as well as manage settlement and custody services of global assets</p>
                    </div>

                    <div class="component component--client" data-choice-ref="j">
                        <h3>Global reach</h3>
                        <p>We need a single point of access to efficiently manage global assets across multiple markets</p>
                    </div>              