<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'How is the custody landscape changing?',
  nextLink: '/approach.html',
  prevLink: '/custody.html'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main adapt">

        <div class="adapt__europe">
            <h2>Taking Europe as an example</h2>
        </div>
        
        <div class="disc disc--custody animate animate--fade">
            <div class="disc__inner"><span class="valign">Custody</span></div>
        </div>

        <div class="adapt__infra">
            
            <img class="adapt__infra__arrow animate animate--fade animate--delay--1500" src="img/arrow-blue-down-right.svg" height="24" width="61">

            <h2 class="center brand-infra tight">Infrastructure change</h2>
            <span class="adapt__infra__more_info animate animate--moreinfo animate--delay--250 modal___more_info" data-whichmodal=".adapt__infra__modal"></span>
            <ul class="module-list module-list--infra animate animate--slide-right animate--delay--1250">
                <li>
                    <div class="module module--infra module--tight">
                        <h3 class="module__title">Settlement harmonisation</h3>
                        <p>A single settlement day and a harmonised settlement process</p>
                    </div>
                </li>
                <li>
                    <div class="module module--infra module--tight">
                        <h3 class="module__title">Central Bank money</h3>
                        <p>The ability to centralise settlement funding from a single Central Bank</p>
                    </div>
                </li>
                <li>
                    <div class="module module--infra module--tight">
                        <h3 class="module__title">Reduced settlement cycle</h3>
                        <p>Shorter, uniform settlement cycles increasing operational efficiencies</p>
                    </div>
                </li>                
            </ul>
        </div>

        <div class="adapt__reg">
            
            <img class="adapt__reg__arrow animate animate--fade animate--delay--2000" src="img/arrow-pink-down-left.svg" height="24" width="61">

            <h2 class="center brand-reg tight">Regulatory change</h2>
            <span class="adapt__reg__more_info animate animate--moreinfo animate--delay--250 modal___more_info" data-whichmodal=".adapt__reg__modal"></span>
            <ul class="module-list module-list--reg animate animate--slide-left animate--delay--1250">
                <li>
                    <div class="module module--reg module--tight">
                        <h3 class="module__title">Investor protection</h3>
                        <p>More liability in the intermediary chain and segregated structures</p>
                    </div>
                </li>
                <li>
                    <div class="module module--reg module--tight">
                        <h3 class="module__title">Risk reduction</h3>
                        <p>A reduction in risk from the securities industry is leading to business model change</p>
                    </div>
                </li>
                <li>
                    <div class="module module--reg module--tight">
                        <h3 class="module__title">Asset mobility</h3>
                        <p>Higher capital requirements and a need to utilise more eligible assets</p>
                    </div>
                </li>
                <li>
                    <div class="module module--reg module--tight">
                        <h3 class="module__title">Liquidity optimisation</h3>
                        <p>Regulatory pressure to reduce liquidity exposure to providers</p>
                    </div>
                </li>
                <li>
                    <div class="module module--reg module--tight">
                        <h3 class="module__title">Transparency</h3>
                        <p>Regulatory reporting requirements to ensure transparency of service provided</p>
                    </div>
                </li>                
            </ul>
        </div>


        <div class="adapt__client">

            <img class="adapt__client__arrow animate animate--fade animate--delay--2500" src="img/arrow-green-up.png" height="60" width="26">

            <h2 class="center brand-client tight">Client value add services</h2>
            
            <ul class="module-list-h module-list--client animate animate--slide-right animate--delay--1250">
                <li class="list-left">
                    <div class="module module--client module--tight">
                        <h3 class="module__title">Best execution</h3>
                        <p>Proliferation of exchange platforms increasing costs associated with providing best execution to clients</p>
                    </div>
                </li>
                <li>
                    <div class="module module--client module--tight">
                        <h3 class="module__title">Market visibility</h3>
                        <p>High infrastructure costs in local markets impacting market visibility to clients and counterparties</p>
                    </div>
                </li>
                <li class="list-left">
                    <div class="module module--client module--tight">
                        <h3 class="module__title">Local market expertise</h3>
                        <p>Market proximity and expertise resulting in best-in-class deadlines</p>
                    </div>
                </li>  
                <li>
                    <div class="module module--client module--tight">
                        <h3 class="module__title">Global reach</h3>
                        <p>A single point of access for managing global assets to reduce complexity</p>
                    </div>
                </li>  
            </ul>
        </div>


        <div class="adapt__reg__modal adapt__modal a_modal">
            <div class="modal_contents">  
                <div class="modal_close">X</div>
                <h2>Regulatory change is challenging all aspects of custody</h2>    
                <div class="cols_container">    
                   
                    <div class="col bordered">

                        <p>CSDR:</p>
                        <ul>
                            <li>Regulation to improve securities settlement in Europe. Introduces standardised rules for CSDs and market participants</li>
                        </ul>

                        <p>FACTA:</p>
                        <ul>
                            <li>US regulation aimed at tackling tax avoidance by US residents</li>
                        </ul>

                        <p>EMIR:</p>
                        <ul>
                            <li>Mandatory clearing of OTC, CCP authorisation and 3<sup>rd</sup> country equivalence, segregation and reporting requirements</li>
                        </ul>

                        <p>MiFID II:</p>
                        <ul>
                            <li>Changes to execution, conduct, record keeping, client classification, reporting, safekeeping and risk monitoring</li>
                        </ul>

                    </div>

                    <div class="col">

                        <p>SFTR:</p>
                        <ul>
                            <li>Transparency of Securities Financial Trades. Mandatory reporting of SFTs. Rules for reuse of collateral</li>
                        </ul>

                        <p>UCITS V:</p>
                        <ul>
                            <li>Targets further alignment to AIFMD. New requirements for depositories and their delegates (custodians)</li>
                        </ul>

                        <p>AIFMD:</p>
                        <ul>
                            <li>Enhanced due dilligence for AIF depositories. AIF instruments to be segregated from other assets. Strict liability through the custody chain</li>
                        </ul>

                        <p>Basel III:</p>
                        <ul>
                            <li>New measures for banks relating to liquidity coverage ratio, net stable funding ratio, leverage ratio, handling of deposits and exposure to CCPs</li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="adapt__infra__modal adapt__modal a_modal">
            <div class="modal_contents">  
                <div class="modal_close">X</div>
                <h2>Infrastructure change is challenging all aspects of custody</h2>  
                <div class="cols_container">   
                    <div class="col bordered">
                        <p>T2S:</p>
                        <ul>
                            <li>Harmonised platform for the settlement of eurozone securities</li>
                        </ul>

                        <p>T+2 US:</p>
                        <ul>
                            <li>Reduction of the settlement cycle (T+2) for financial instruments settled with DTCC</li>
                        </ul>

                        <p>T+2 Asia:</p>
                        <ul>
                            <li>Shortening of the settlement cycle from T+3 to T+2. Includes Vietnam, Singapore and Thailand</li>
                        </ul>

                    </div>

                    <div class="col">

                        <p>Stock Connect:</p>
                        <ul>
                            <li>Stock Connect trading links in Asia, enabling mutual market access between market exchanges</li>
                        </ul>

                        <p>ASEAN Initiatives:</p>
                        <ul>
                            <li>Linking of ASEAN Exchanges, the creation of local currency bond issuance, regional bond clearing and settlement model, and cross-border bond settlement</li>
                        </ul>

                        <p>CRS:</p>
                        <ul>
                            <li>Requirement to provide tax residency at A/C opening and remediation of existing accounts</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>


    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}