<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Deutsche Bank\'s approach to custody',
  nextLink: '/customise.html',
  prevLink: '/adapt.html'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main approach">
        
        <div class="padder">

            <div class="approach__box approach__today">
                <h2 class="close">Today</h2>
                <p class="clrd"><b><span class="approach__col approach__col--today">Domestic custody</span></b></p>
                <div class="tower animate animate--fade animate--delay--1000">
                    <ul class="tower__list">
                        <li>Connectivity</li>
                        <li>Settlement</li>
                        <li>Safekeeping</li>
                        <li>Asset servicing</li>
                        <li>Tax</li>
                        <li>Cash services</li>
                    </ul>
                </div>
            </div>

            <div class="approach__box approach__future">
                <h2 class="close">Future Approach</h2>
                <p class="clrd"><b><span class="approach__col">Core component products</span> <span class="approach__gutter">+</span> <span class="approach__col">New in-focus component products</span> <span class="approach__gutter approach__gutter--wide">=</span> <span class="approach__col approach__col--dbl">Flexible client products based on the components that have value to you</span></b></p>
                <div class="tower tower--push">
                    <ul class="tower__list tower__list--expanded">
                        <li class="animate animate--fade animate--delay--2500">Connectivity</li>
                        <li class="animate animate--fade animate--delay--2750">Settlement</li>
                        <li class="animate animate--fade animate--delay--3000">Safekeeping</li>
                        <li class="dbl multi animate animate--fade animate--delay--3250">Asset servicing<br />Tax</li>
                        <li class="animate animate--fade animate--delay--3500">Cash services</li>
                    </ul>
                </div>
                <div class="tower tower--push-wide">
                    <ul class="tower__list tower__list--expanded">
                        <li class="dbl animate animate--fade animate--delay--3750">Collateral distribution</li>
                        <li class="dbl animate animate--fade animate--delay--4000">Liquidity management</li>
                    </ul>
                </div>
                <div class="tower tower--push animate animate--stagger animate--delay--4500">


                    <ul class="tower__list tower__list--closed tower__list--tight">
                        <li><span>Connectivity</span></li>
                        <li><span>Settlement</span></li>
                        <li><span>Safekeeping</span></li>
                        <li><span>Asset servicing</span></li>
                        <li><span>Tax</span></li>
                        <li><span>Cash services</span></li>
                        <li><span>Collateral distribution</span></li>
                    </ul>
                </div>
               <div class="tower animate animate--stagger-alt animate--delay--4500">

                    <ul class="tower__list tower__list--closed tower__list--tight">
                        <li><span>Connectivity</span></li>
                        <li><span class="own">Settlement</span></li>
                        <li><span>Safekeeping</span></li>
                        <li><span>Asset servicing</span></li>
                        <li><span>Tax</span></li>
                        <li><span class="own">Cash services</span></li>
                        <li><span class="third-party">Collateral distribution</span></li>
                    </ul>
                    <div class="tower__bar">1</div>
                </div>
            </div>

            <ul class="approach__key">
                <li>Deutsche Bank components</li>
                <li class="clients">Client's own components</li>
                <li class="third-party">Third-party components</li>
            </ul>

        </div>

    </main>

    {% include "partials/footer.html" %} 

</div>

{% endblock %}