w<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'The custody landscape is changing',
  nextLink: '/adapt.html',
  prevLink: '/overview.html'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main custody">

        <div class="custody__cloud animate animate--fade animate--delay--3250"></div>
        
        <div class="disc disc--custody animate animate--fade">
            <div class="disc__inner"><span class="valign">Custody</span></div>
        </div>

        <div class="disc disc--bottom animate animate--slide-down animate--delay--1250">
            <div class="disc__inner">Market</div>
            <span class="pointer pointer--up"></span>
        </div>

        <div class="disc disc--left animate animate--slide-left animate--delay--1250">
            <div class="disc__inner">Platform</div>
            <span class="pointer pointer--right"></span>
            <ul class="disc__subset disc__subset--left">
            <li>Technology</li>
            <li>Processing<br /><span class="disc__subset__meta">Business</span> <span class="disc__subset__meta">Operations</span></li>
            </ul>
        </div>

        <div class="disc disc--right animate animate--slide-right animate--delay--1250">
            <div class="disc__inner">Clients</div>
            <span class="pointer pointer--left"></span>
        </div>
        
        <div class="custody__change custody__change--infra animate animate--fade animate--delay--2250">
            <div class="custody__change__label animate">Infrastructure change<span class="custody__change--infra__more_info custody__more_info animate animate--moreinfo animate--delay--250 modal___more_info" data-whichmodal=".custody__change--infra__modal"></span></div>
            <img class="custody__change--infra__arrow1" src="img/arrow-blue-up-right.svg" alt="Infrastructure change" height="55" width="32" />
            <img class="custody__change--infra__arrow2" src="img/arrow-blue-down-right.svg" alt="Infrastructure change" height="24" width="61" />
        </div>

        <div class="custody__change--infra__modal custody__modal a_modal">
            <div class="modal_contents">  
                <div class="modal_close">X</div>
                <h2>Infrastructure change is challenging all aspects of custody</h2>  
                <div class="cols_container">   
                    <div class="col bordered">
                        <p>T2S:</p>
                        <ul>
                            <li>Harmonised platform for the settlement of eurozone securities</li>
                        </ul>

                        <p>T+2 US:</p>
                        <ul>
                            <li>Reduction of the settlement cycle (T+2) for financial instruments settled with DTCC</li>
                        </ul>

                        <p>T+2 Asia:</p>
                        <ul>
                            <li>Shortening of the settlement cycle from T+3 to T+2. Includes Vietnam, Singapore and Thailand</li>
                        </ul>

                    </div>

                    <div class="col">

                        <p>Stock Connect:</p>
                        <ul>
                            <li>Stock Connect trading links in Asia, enabling mutual market access between market exchanges</li>
                        </ul>

                        <p>ASEAN Initiatives:</p>
                        <ul>
                            <li>Linking of ASEAN Exchanges, the creation of local currency bond issuance, regional bond clearing and settlement model, and cross-border bond settlement</li>
                        </ul>

                        <p>CRS:</p>
                        <ul>
                            <li>Requirement to provide tax residency at A/C opening and remediation of existing accounts</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="custody__change custody__change--reg animate animate--fade animate--delay--2250">
            <div class="custody__change__label animate">Regulatory change<span class="custody__change--reg__more_info custody__more_info animate--moreinfo animate--delay--250  modal___more_info" data-whichmodal=".custody__change--reg__modal"></span></div>
            <img class="custody__change--reg__arrow1" src="img/arrow-pink-up-left.svg" alt="Regulatory change" height="55" width="32" />
            <img class="custody__change--reg__arrow2" src="img/arrow-pink-down-left.svg" alt="Regulatory change" height="24" width="61" />
        </div>

        <div class="custody__change--reg__modal custody__modal a_modal">
            <div class="modal_contents">  
                <div class="modal_close">X</div>
                <h2>Regulatory change is challenging all aspects of custody</h2>    
                <div class="cols_container">    
                   
                    <div class="col bordered">

                        <p>CSDR:</p>
                        <ul>
                            <li>Regulation to improve securities settlement in Europe. Introduces standardised rules for CSDs and market participants</li>
                        </ul>

                        <p>FACTA:</p>
                        <ul>
                            <li>US regulation aimed at tackling tax avoidance by US residents</li>
                        </ul>

                        <p>EMIR:</p>
                        <ul>
                            <li>Mandatory clearing of OTC, CCP authorisation and 3<sup>rd</sup> country equivalence, segregation and reporting requirements</li>
                        </ul>

                        <p>MiFID II:</p>
                        <ul>
                            <li>Changes to execution, conduct, record keeping, client classification, reporting, safekeeping and risk monitoring</li>
                        </ul>

                    </div>

                    <div class="col">

                        <p>SFTR:</p>
                        <ul>
                            <li>Transparency of Securities Financial Trades. Mandatory reporting of SFTs. Rules for reuse of collateral</li>
                        </ul>

                        <p>UCITS V:</p>
                        <ul>
                            <li>Targets further alignment to AIFMD. New requirements for depositories and their delegates (custodians)</li>
                        </ul>

                        <p>AIFMD:</p>
                        <ul>
                            <li>Enhanced due dilligence for AIF depositories. AIF instruments to be segregated from other assets. Strict liability through the custody chain</li>
                        </ul>

                        <p>Basel III:</p>
                        <ul>
                            <li>New measures for banks relating to liquidity coverage ratio, net stable funding ratio, leverage ratio, handling of deposits and exposure to CCPs</li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>

        <div class="custody__evolve animate animate--fade animate--delay--3250">Evolving technology<span class="custody__evolve__more_info custody__more_info animate--moreinfo animate--delay--250 modal___more_info" data-whichmodal=".custody__evolve__modal"></span></div>

        <div class="custody__evolve__modal custody__modal a_modal">

            <div class="modal_contents">  
                <div class="modal_close">X</div>
                <h2>Evolving technology is challenging traditional custody models</h2>     
                <h4>Distributed Ledger Technology (DLT)</h4>
                <div class="cols_container">   

                    <div class="col bordered">

                        <p>Market engagement &amp; collaboration</p>

                        <ul>
                            <li>Market and industry-wide collaboration: Distributed Ledger Group/R3 Consortium</li>
                            <li>Pro-active market engagement across all levels</li>
                        </ul>

                        <p>Driving innovation internally</p>

                        <ul>
                            <li>Deutsche Bank Labs tested the lifecycle of a corporate bond smart contract on a blockchain</li>
                        </ul>

                         <p>What we have learnt:</p>

                        <ul>
                            <li>Collaboration is key to defining market standards and addressing challenges, such as interoperability of ledgers</li>
                        </ul>

                    </div>


                    <div class="col">  

                        <ul>
                            <li>DLT has potential all along the securities value chain</li>
                            <li>Smart contracts could reduce clearing and operational risks</li>
                            <li>DLT could result in shorter settlement cycles and reduced collateral requirements</li>
                        </ul>      
                        
                        <p>Current focus</p>                      
                        
                        <ul>
                            <li>Continue market engagement</li>
                            <li>Further testing to understand the impact of DLT on core products and client demand</li>
                            <li>Explore possibilities of Central Bank digital currency in securities settlements</li>
                        </ul>

                    </div>
                    
                </div>

            </div>

        </div>

        <img class="custody__arrow1 animate animate--point-rd animate--delay--3250" src="img/arrow-navy-down-right.svg" alt="The custody landscape is changing" height="53" width="80" />
        <img class="custody__arrow2 animate animate--point-ld animate--delay--3250" src="img/arrow-navy-down-left.svg" alt="The custody landscape is changing" height="53" width="80" />

    </main>

    {% include "partials/footer.html" %} 

</div>

{% endblock %}