<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Tell us about you',
  nextLink: '/issues.html',
  prevLink: '/approach.html',
  navClasses: 'js-disabled'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main">  

          <div class="customise">

              <h2>What is your primary business area of focus?</h2>  

              <div class="customise_row">

                <ul>
                  <li>
                    <input type="radio" id="f-option" value="Global Custodian" name="customise" class="customise--radio" data-path="1">
                    <label for="f-option">Global Custodian</label>                    
                    <div class="check"><div class="inside"></div></div>
                  </li>
                  <li>
                    <input type="radio" id="h-option" value="Infrastructure / Exchange" name="customise" class="customise--radio" data-path="1">
                    <label for="h-option">Infrastructure / Exchange</label>                    
                    <div class="check"><div class="inside"></div></div>
                  </li>
                </ul>

              </div>

              <div class="customise_row">

                <ul>
                  <li>
                    <input type="radio" id="e-option" value="Bank" name="customise" class="customise--radio" data-path="2">
                    <label for="e-option">Bank</label>                    
                    <div class="check"></div>
                  </li>
                  <li>
                    <input type="radio" id="g-option" value="Broker Dealer / Investment Bank" name="customise" class="customise--radio" data-path="2">
                    <label for="g-option">Broker Dealer / Investment Bank</label>                    
                    <div class="check"><div class="inside"></div></div>
                  </li>
                </ul>
                
              </div>

              <div class="customise_row">

                <ul>
                  <li>
                    <input type="radio" id="a-option" value="Asset Manager / Fund Manager" name="customise" class="customise--radio" data-path="3">
                    <label for="a-option">Asset Manager / Fund Manager</label>                    
                    <div class="check"></div>
                  </li>                  
                  <li>
                    <input type="radio" id="b-option" value="Pension Fund / Sovereign Wealth Fund" name="customise" class="customise--radio" data-path="3">
                    <label for="b-option">Pension Fund / Sovereign Wealth Fund</label>                    
                    <div class="check"><div class="inside"></div></div>
                  </li>
                </ul>

              </div>
              
              <p class="customise--submit"><span class="customise--instructions">By completing this page you agree to <br> Deutsche Bank capturing this information</span><span id="customise--button" class="btn btn--submit">Submit</span></p>                

            </div> 

        <div class="app__instructions med">
            <p class="animate animate--slide-left animate--delay--2500">Use the arrows to navigate</p>
        </div>
    </main>

    {% include "partials/footer.html" %}  

</div>

{% endblock %}