<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Next steps'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main next-steps">
        
        <div>

            <div class="next-button" id="btn-another-model"><span class="iconspan"></span><span class="labelspan">Try another model</span></div>

            <div class="next-button" id="btn-new-user"><span class="iconspan"></span><span class="labelspan">New User</span></div>

        </div>

    </main>

    {% include "partials/footer_finale.html" %} 

</div>

{% endblock %}