<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Adapting to the changing custody landscape'
} %}

{% block content %}

<div class="app app--dark landing animate animate--fade">

    <img class="landing__logo animate animate--slide-left" src="img/logo-white.svg" alt="Deutsche Bank" height="75" width="75" />

    <main class="app__main app__main--full animate animate--slide-up animate--delay-500">
        
        <div class="valign">

            <h1>{{ options.title }}</h1>
            <br /><br />
            <p><a href="overview.html" class="btn btn--submit">Get Started</a></p>

        </div>
        
    </main>

</div>

{% endblock %}
