<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Tell us about you',
  nextLink: '/issues.html',
  prevLink: '/customise.html',
  navClasses: 'js-disabled js-load-model'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main issues">

        <h2>Select the three main issues facing your business</h2>

        <div class="issues__input animate animate--slide-right">

            <div class="options js-drag-container">

                <div class="options__item module module--client" data-option="c">
                    <h3 class="module__title">Local market expertise</h3>
                    <p>We require on the ground market presence and expertise</p>
                </div>

                <div class="options__item module module--client" data-option="j">
                    <h3 class="module__title">Global reach</h3>
                    <p>We need a single point of access to efficiently manage global assets across multiple markets</p>
                </div>
                <div class="options__item module module--client" data-option="i">
                    <h3 class="module__title">Best execution</h3>
                    <p>We need to provide best-in-class trade execution as well as manage settlement and custody services of global assets</p>
                </div>

            </div>
            

            <div class="options js-drag-container">
                <div class="options__item options__item--set module module--reg" data-option="e">
                    <h3 class="module__title">Investor protection (1)</h3>
                    <p>We desire investor assets to be segregated in our service provider</p>
                </div>
                <div class="options__item options__item--set module module--reg" data-option="f">
                    <h3 class="module__title">Investor protection (2)</h3>
                    <p>We require our assets to be segregated from other clients at the CSD</p>
                </div>
                <div class="options__item options__item--set module module--reg" data-option="g">
                    <h3 class="module__title">Investor protection (3)</h3>
                    <p>We require assets to be held at the CSD in our own name in case of agent default</p>
                </div>
                <div class="options__item module module--reg" data-option="h">
                    <h3 class="module__title">Asset mobility</h3>
                    <p>We need domestic assets to be easily available in tri-party programmes</p>
                </div>
                <div class="options__item module module--reg" data-option="d">
                    <h3 class="module__title">Liquidity optimisation</h3>
                    <p>We need intraday and overnight tools to minimise credit/overdraft requirements</p>
                </div>
            </div>

            <div class="options js-drag-container">
                <div class="options__item module module--infra" data-option="b">
                    <h3 class="module__title">Central Bank money</h3>
                    <p>We want to utilise our own Central Bank money in settlement</p>
                </div>
                <div class="options__item module module--infra" data-option="a">
                    <h3 class="module__title">Settlement harmonisation</h3>
                    <p>We want to benefit from harmonisation by doing settlement in house</p>
                </div>

            </div>
            
        </div>

        <div class="issues__output animate animate--slide-left">
            
            <div class="drop-zone">
                <div class="drop-zone__item drop-zone__item--one js-drag-container"></div>
                <div class="drop-zone__item drop-zone__item--two js-drag-container"></div>
                <div class="drop-zone__item drop-zone__item--three js-drag-container"></div>
            </div>

            <div class="issues__indicator animate animate--fade animate--delay--750">
                <img src="img/hand.svg" alt="" height="90" width="94" />
                <p><b>Drag and drop</b></p>
            </div>

            <p class="issues__buttons">
                <a href="issues.html" class="btn btn--reset btn--split js-disabled js-reset">Reset</a>
                <a href="models/model1.html" class="btn btn--submit btn--split js-disabled js-load-model">Submit</a>
            </p>
            
        </div>

        <div class="model__legend">
          <p class="legend_client"><span></span>Client driven</p>
          <p class="legend_reg"><span></span>Regulatory driven</p>
          <p class="legend_infra"><span></span>Infrastructure driven</p>
        </div>

    </main>
    
    {% include "partials/footer.html" %}

</div>

{% endblock %}