<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Adapting to the changing custody landscape',
  nextLink: '/custody.html',
  prevLink: '/'
} %}

{% block content %}

<div class="app overview">

    {% include "partials/header.html" %}

    <main class="app__main">
        
        <div class="valign">
        	
            <p class="lrg animate animate--fade">Welcome to Deutsche Bank's guide to how the custody landscape is changing.<br />Discover your custody solution in five simple steps;</p>
            <br /><br />
            <ol class="med">
            <li class="animate animate--slide-right">Understand how the custody landscape is changing</li>
            <li class="animate animate--slide-right animate--delay--250">Learn about Deutsche Bank's new approach to custody</li>
            <li class="animate animate--slide-right animate--delay--500">Tell us about your primary area of business</li>
            <li class="animate animate--slide-right animate--delay--750">Select the main issues facing your business</li>
            <li class="animate animate--slide-right animate--delay--1000">Discover your individual solution</li>
            </ol>

        </div>

        <div class="app__instructions sml">
            <p class="animate animate--slide-left animate--delay--2500">Use the arrows to navigate</p>
        </div>

    </main>

    {% include "partials/footer.html" %}  

</div>

{% endblock %}