<h2>Brazil - Market Reference Guide</h2>


<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>Equities and Derivatives: <strong>Securities Depository Services (BM&amp;FBOVESPA)
Govt. Bonds: Sistema Especial de Liquida&ccedil;&atilde;o e Cust&oacute;dia (SELIC)</strong></p>
<p>Corp. Bonds: <strong>Central de Custódia e Liquida&ccedil;&atilde;o Financiera de Títulos (CETIP)</strong></p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Domestic entities only</p>
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>Banco Central do Brasil (BACEN)</p>
	<p>Remote membership: Not permitted</p>
</div>

</div>
<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Segregated<br />
	Cash: Segregated</p>
</div>

</div>

