<h2>China - Market Reference Guide</h2>

<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>China Securities Depository and Clearing Corporation Limited (CSDCC)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants.</p>
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>People’s Bank of China (PBOC)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants.</p>
</div>

</div>
<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Segregated<br />
	Cash: Segregated</p>
</div>

</div>