<h2>Czech Republic - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Securities Depository Prague (CDCP), CNB (T-Bills/T-Notes only)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: N/A
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Czech National Bank (CNB)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Restricted to domestic entities and/or entities with a EU banking license (note, participation in clearing system using a clearing account at CNB is allowed to all licensed entities)</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

</div>