<h2>Germany - Market Reference Guide</h2>

<div class="map_modal_box_col">
	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Clearstream Banking Frankfurt (CBF)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: N/A</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Deutsche Bundesbank</p>
		<p>Remote membership: Permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>
</div>



