<h2>Hong Kong - Market Reference Guide</h2>

<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>Hong Kong Securities Clearing Company (HKSCC - CCASS); Central Moneymarkets Unit (CMU)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>Hong Kong Monetary Authority (HKMA)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>

</div>
<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Both<br />
	Cash: Both</p>
</div>

<div class="map_modal_box">
	<h3>Other</h3>
	<p>Account Operator model: can only be offered to Direct Clearing Participants with onshore presence. Market availability of the Asset Servicing Only model is under review with the local regulator</p>
</div>

</div>

