<h2>Hungary - Market Reference Guide</h2>

<div class="map_modal_box_col">
	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Clearing House and Depository Limited (KELER)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: N/A</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Central Bank of Hungary (CBH)</p>
		<p>Remote membership: Permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Omnibus</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: permitted but currently limited exposure and limited number of AO accounts (2-3) operated at the CSD (current market infrastructure is not compatible for AO models).<br />AO model currently in development, will be possible via T2S settlement Hub after go-live</p>
	</div>

</div>
