<h2>India - Market Reference Guide</h2>

<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>National Securities Depository Limited (NSDL); Central Depository Services (India) Limited (CDSL); The Reserve Bank of India (RBI) - Only for Government securities / Treasury Bills</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>Reserve Bank of India (RBI)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>

</div>
<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Segregated<br />
	Cash: Segregated<br />
	Comments: Account opening at the CSD only permitted for an authorized Depository Participant (DP) with an Indian presence</p>
</div>

</div>