<h2>Indonesia - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Indonesian Central Securities Depository (KSEI) for equities and corporate bonds. BI for Government bonds &amp; Certificates of BI (SBI)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Bank Indonesia (BI)</p>
		<p>Remote membership: Not permitted<br />
		Central Bank remote membership is granted to a non-bank where it acts as sub-registry (i.e. local CSD is a Central Bank member)</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: Deutsche Bank planning underway, subject to regulatory approval</p>
	</div>

</div>
