<h2>Italy - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Monte Titoli</p>
		<p>Remote membership: Permitted<br />
		Restrictions: Restricted to banks/investment companies that are Italian, EU, non-EU with branches in Italy and others (as specified)</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Banca d Italia</p>
		<p>Remote membership: Permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Omnibus<br />
		Comments: As an account holder at Monte Titoli, a foreign entity becomes Withholding Agent and has direct responsibilities with Italian Tax Authorities. If the client does not own a permanent establishment (PE) in Italy, the client must appoint an Italian Tax Representative (ITR).</p>
		<p>A Power of Attorney (PoA) is required and agreements to regulate the tax framework between the involved parties are required</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Asset servicing Only model: to be offered out of the Settlement Hub (DB AG FFT)</p>
	</div>

</div>


