<h2>Korea - Market Reference Guide</h2>

<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>Korea Securities Depository (KSD)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>Bank of Korea (BOK)</p>
	<p>Remote membership: Not permitted<br />
	Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
</div>


</div>
<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Segregated<br />
	Cash: Segregated<br />
	Comments: CSD accounts are always omnibus, separated for Deutsche Bank's proprietary from client's assets. The accounts are segregated within Deutsche Bank's records (regulatory requirement)</p>
</div>


</div>

