<h2>Malaysia - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Bursa Malaysia Depository Sdn Bhd and Bank Negara Malaysia</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Bank Negara Malaysia (BNM)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: Central Bank remote membership limited to government bonds only
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: limited to Government Bonds only</p>
	</div>

</div>

