<h2>Netherlands - Market Reference Guide</h2>

<div class="map_modal_box_col">

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>Euroclear Nederland</p>
	<p>Remote membership: Permitted<br />
	Restrictions: N/A
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>De Nederlandsche Bank (DNB)</p>
	<p>Remote membership: Permitted</p>
</div>

</div>
<div class="map_modal_box_col">


<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Both<br />
	Cash: Both</p>
</div>

<div class="map_modal_box">
	<h3>Other</h3>
	<p>Asset servicing Only model: to be offered out of the Settlement Hub (DB AG FFT)</p>
</div>

</div>
