<h2>Pakistan - Market Reference Guide</h2>


<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Depository Company of Pakistan Limited (CDC)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Foreign entities with place of business in Pakistan (not offshore company)
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>State Bank of Pakistan (SBP)</p>
		<p>Remote membership: Not permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both<br />
		Comments: Beneficial owner details need to be mentioned in the account name at the depository for an Omnibus Securities Account</p>
	</div>

</div>
