<h2>Saudi Arabia - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Tadawaul Securities Depository Centre</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: N/A</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Saudi Arabian Monetary Agency (SAMA)</p>
		<p>Remote membership: Not permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Segregated<br />
		Cash: Omnibus</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: not currently recognized in the region</p>
	</div>

</div>


