<h2>Singapore - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Depository (Pte) Ltd. (CDP); Monetary Authority of Singapore (MAS)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: N/A
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Monetary Authority of Singapore (MAS)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Market availability of the Asset Servicing Only model is under review with the local regulator</p>
	</div>

</div>
