<h2>South Africa - Market Reference Guide</h2>

<div class="map_modal_box">
	<h3>Central Securities Depository<br />Remote membership</h3>
	<p>Remote membership: Permitted<br />
	Restrictions: Financial Institutions only
</div>

<div class="map_modal_box">
	<h3>Central Bank<br />Remote membership</h3>
	<p>Remote membership: Not permitted<br />
	Restrictions: N/A
</div>

<div class="map_modal_box">
	<h3>Account Structure</h3>
	<p>Securities: Both<br />
	Cash: Both<br />
	Comments: Non-FI client holdings are safe kept on Deutsche Bank's omnibus account at the CSD. The accounts are segregated within Deutsche Bank's records</p>
</div>

<div class="map_modal_box">
	<h3>Other</h3>
	<p>Account Operator and Asset servicing Only models: planning in place to be offered only out of the Settlement Hub (DB AG FFT) once Austria goes live on T2S</p>
</div>


