<h2>Spain - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Iberclear</p>
		<p>Remote membership: Permitted<br />
		Restrictions: N/A
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Banco de España</p>
		<p>Remote membership: Not permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Omnibus<br />
		Cash: Both</p>
	</div>C

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator and Asset Servicing Only models utilising client cash to be offered via the T2S settlement hub after T2S go-live</p>
	</div>

</div>
