<h2>Sri Lanka - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Depository System (Private) Limited (CDS)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Central Bank of Sri Lanka</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
		</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

</div>
