<h2>Taiwan - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Taiwan Depository & Clearing Corporation (TDCC); Central Government and Securities Settlement System (CGSS)</p>
		<p>Remote membership: Permitted<br />
		Restrictions: Foreign membership at CSD is restricted to ICSDs for FCY Formosa Bonds settlement</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Central Bank of the Republic of China (Taiwan)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Segregated<br />
		Cash: Segregated</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: limited to Bonds and requires special approval (equities not permitted)</p>
	</div>

</div>


