<h2>Thailand - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Thailand Securities Depository Company Limited (TSD)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Restricted to local domiciled entities with SEC authorization (corporate company/public company/finance institution registered under other laws).</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Bank of Thailand (BOT)</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Only for domestic entities and/or licensed by the relevant regulators to become direct market participants.</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

</div>




