<h2>Turkey - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>Central Registry Agency (CRA) for Equities and corporate bonds; Central Bank of Turkey (CBT) for Treasury Bills and Bonds</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: N/A</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Central Bank of Turkey (CBT)</p>
		<p>Remote membership: Not permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Segregated<br />
		Cash: Both<br />
		Comments: Securities accounts are segregated at the CSD level but cash accounts are omnibus. There is no cash account at the CSD; member cash accounts are held with the Clearing House, Takasbank and held on member/participant basis.</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: not currently offered but planning in place for 2017. Note: Remote membership is not permitted however, there is a Tripartite agreement between the Deutsche Bank A.S (local entity), the CRA (the CSD) and the local broker in the Turkish market, who will act as the local entity arm of the international investor to enable AO model.</p>
	</div>

</div>

