<h2>UAE - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>DFM-ADX: Central Securities Depository for ADX &amp; DFM</p>
		<p>NASDAQ Dubai - Central Securities Depository</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: N/A</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>The Central Bank of the UAE (note: i. not directly involved in the cash settlement of on-exchange trades and ii. Standard Chartered Bank nominated for USD Settlements as the quasi central bank)</p>
		<p>Remote membership: Not permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Segregated<br />
		Cash: Both<br />
		Comments: UAE is a segregated market wherein a depository account is in the name of client but opened and maintained by Deutsche Bank Investor Services Dubai.</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: not currently recognized in the region</p>
	</div>

</div>
