<h2>United Kingdom - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>CREST</p>
		<p>Remote membership: Permitted</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Bank of England</p>
		<p>Remote membership: Permitted</p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Account Operator model: permitted in the market, known as "Sponsored Membership", whereby the client has a participant ID at CREST.</p>
	</div>

</div>


