<h2>United States - Market Reference Guide</h2>

<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Central Securities Depository<br />Remote membership</h3>
		<p>DTC</p>
		<p>Remote membership: Permitted<br />
		Restrictions: Government related securities not permitted</p>
	</div>

	<div class="map_modal_box">
		<h3>Central Bank<br />Remote membership</h3>
		<p>Federal Reserve Central Bank</p>
		<p>Remote membership: Not permitted<br />
		Restrictions: Foreign Entities cannot access the Federal Reserve system or Government securities without going through an US entity </p>
	</div>

</div>
<div class="map_modal_box_col">

	<div class="map_modal_box">
		<h3>Account Structure</h3>
		<p>Securities: Both<br />
		Cash: Both</p>
	</div>

	<div class="map_modal_box">
		<h3>Other</h3>
		<p>Full Service Custody segregated Account: possible with Deutsche Bank today but is serviced manually</p>
	</div>

</div>



