<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page" data-productref="f">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Agency Securities Lending</h2>

            <div class="model__image">
                <img src="img/ava/agency_securities_lending.png" alt="Agency Securities Lending" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>Institutional clients with significant long security positions who wish to improve their portfolio returns in a risk-efficient manner, particularly in a low yield market environment.</li>
              </ul>
              <h3 class="ava___title">The solution:</h3>
              <p>Deutsche Bank Agency Securities Lending (ASL) as their agent:</p>
              <ul>
                <li>Generate an attractive risk-adjusted portfolio return on fixed income and equity portfolios, on a revenue sharing basis</li>
                <li>Lend assets held with either Deutsche Bank or other custodians, allowing clients to retain full access to their securities, with no impact on portfolio management activity</li>
                <li>Perform all lending and collateral management related functions, with full transparency through detailed reporting</li>
                <li>Comprehensive risk management process and optional margin shortfall indemnity</li>
                <li>Variations of this model include Collateral Transformation, Liquidity Generation and As Agent Repo (fully collateralised cash re-investment)</li>
              </ul>
              
            </div>
        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}