<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page" data-productref="a">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Autoborrow</h2>

            <div class="model__image">
                <img src="img/ava/autoborrow.png" alt="Autoborrow" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>Insufficient holdings in place to meet settlement obligations potentially causing high costs, reputational impact and regulatory settlement penalties (CSDR)</li>
              </ul>

              <h3 class="ava___title">The solution:</h3>
              <ul>
                <li>Securities automatically borrowed on the client’s behalf from the multi-market pool and released for settlement pending that;
                  <ul>
                    <li>The required securities are available</li>
                    <li>The client has sufficient free limit</li>
                  </ul>
                </li>
                <li>After the settlement cycle, the client’s account is credited with securities and debited with cash based on final positions</li>
                <li>Returns/Closings automatically calculated and executed</li>

              </ul>

              <p class="smaller_text">* Note, this solution is currently only available using the Deutsche Bank omnibus account in the T2S Settlement Hub</p> 

            </div>

        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}