<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page"  data-productref="b">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Collateral Distribution</h2>

            <div class="model__image">
                <img src="img/ava/collateral_distribution.png" alt="Collateral Distribution" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>Regulatory requirements impacting high quality liquidity assets and demand for collateral in the market</li>
                <li>Domestically held assets traditionally hard to move into tri-party programmes and thus, unavailable for collateral obligations</li>
              </ul>

              <h3 class="ava___title">The solution:</h3>
              <ul>
                <li>ICSD holds custody accounts with Deutsche Bank</li>
                <li>The client's domestically held assets remain with Deutsche Bank* and are fed into the collateral management product</li>
                <li>Collateral needs are calculated based on global asset availability and suitability</li>
                <li>Settlement instructions are processed in real time and where possible, in Deutsche Bank's books via book transfer</li>
              </ul>

              <p class="smaller_text">* Note, where regulations require movement at the CSD level, the client will have an account directly with the ICSD</p> 

            </div>

        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}