<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page" data-productref="e">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Domestic Fund Services</h2>

            <div class="model__image">
                <img src="img/ava/domestic_fund_services.png" alt="Domestic Fund Services" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>Support required for the complex and expensive servicing associated with managing Long Only funds.</li>
              </ul>
              <h3 class="ava___title">The solution:</h3>
              <ul>
                <li>Comprehensive range of fund administration services provided in conjunction with custody models, including;
                  <ul>
                    <li>Core fund administration (NAV calculation)</li>
                    <li>Transfer Agency</li>
                    <li>Middle office services</li>
                    <li>Trustee and fiduciary services</li>
                  </ul>
                </li>
                <li>Support against the high costs of infrastructure build or enhancements</li>
                <li>An integrated platform that enables delivery of diverse investment fund solutions</li>
              </ul>
              <p class="smaller_text">* Note, these services are permitted on a market-by-market basis and subject to ongoing product approval. Please provide your details for further information</p>    

            </div>
        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}