<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page"  data-productref="d">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Flow Financing Solutions</h2>

            <div class="model__image">
                <img src="img/ava/flow_financing_solutions.png" alt="Flow Financing Solutions" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>In the case of failed trades, cash is not received leaving the client cash account in debit</li>
                <li>Cost implications are incurred due to overdraft fees levied by the agent bank to cover resulting balance sheet costs</li>
              </ul>

              <h3 class="ava___title">The solution:</h3>
              <ul>
                <li>The agent bank advances short-term cash against long securities in a client's account</li>
                <li>Provides a reduction in overdrafts and a cost effective balance sheet trade for the agent bank and the client</li>
                <li>Reversal of the trade the following day releases the securities for the next daylight settlement cycle</li>
              </ul>

            </div>

        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}