<!-- index page -->
{% extends "layout.html" %}

{% set options = {
  title: 'Other products of interest',
  nextLink: '#signup',
  prevLink: '*',
  navBackClasses: 'js-reset',
  navClasses: 'js-launch-lightbox'
} %}

{% block content %}

<div class="app">

    {% include "partials/header.html" %}

    <main class="app__main model ava animate animate--page" data-productref="c">
        
        <div class="padder">

           {% include "partials/breadcrumbs.html" %}        

            <h2 class="model__title brand-infra">Time Sensitive Collateral</h2>

            <div class="model__image">
                <img src="img/ava/time_sensitive_collateral.png" alt="Time Sensitive Collateral" />
            </div>

            <div class="model__info">

              <h3 class="ava___title">The challenge:</h3>
              <ul>
                <li>Obligations to meet a time-sensitive payment, such as a margin call or CLS pay-in</li>
                <li>Tight operational constraints and market timelines inhibit the client from delivering cash to the settlement bank on time</li>
              </ul>
              <h3 class="ava___title">The solution:</h3>
              <ul>
                <li>Repo-like instruments used to facilitate intra-bank payments secured by agreed collateral transfer via either;
                  <ul>
                    <li>Title transfer or pledge using tripartite infrastructures</li>
                    <li>Seamless collateral mobility solutions enabled by European settlement harmonisation</li>
                  </ul>
                </li>
                <li>Outsourcing of time-sensitive operational obligations allows focus on core treasury and funding activities</li>
              </ul>

            </div>
        </div>

        {% include "partials/form.html" %}

    </main>

    {% include "partials/footer.html" %}

</div>

{% endblock %}