/* = Keyframes
----------------------------------------------------------------------------------------------------------------- */
@include keyframes(pageIn) {
  0% { opacity: 0; @include translate3d(0, 100%, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(pageRight) {
  0% { @include translate3d(-100%, 0, 0); }
  100% { @include translate3d(0, 0, 0); }
}

@include keyframes(titleIn) {
  0% { opacity: 0; @include translate3d(-10%, 0, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fadeInExpand) {
  0% { opacity: 0; transform: scale(1.0); -webkit-transform: scale(1.0); }
  50% { opacity: 0.5; transform: scale(1.1); -webkit-transform: scale(1.1); }  
  100% { opacity: 1; transform: scale(1.0); -webkit-transform: scale(1.0); }
}

@include keyframes(expand) {
  0% {  transform: scale(1.0); }
  100% {  transform: scale(1.1); }
}

@include keyframes(slideUp) {
  0% { opacity: 0; @include translate3d(0, 50%, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(slideDown) {
  0% { opacity: 0; @include translate3d(0, -50%, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(slideLeft) {
  0% { opacity: 0; @include translate3d(50%, 0, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(slideRight) {
  0% { opacity: 0; @include translate3d(-50%, 0, 0); }
  100% { opacity: 1; @include translate3d(0, 0, 0); }
}

@include keyframes(leaveUp) {
  0% { @include translate3d(0, 0, 0); }
  100% { @include translate3d(0, -380px, 0); }
}

@include keyframes(pointRightDown) {
  0%, 100% { @include translate3d(10px, 10px, 0); }
  50% { @include translate3d(0, 0, 0); }
}

@include keyframes(pointLeftDown) {
  0%, 100% { @include translate3d(-10px, 10px, 0); }
  50% { @include translate3d(0, 0, 0); }
}

/*
@include keyframes(stagger) {
  0% { opacity: 0; }
  20%, 60%, 80% { opacity: 0.2; }
  40%, 100% { opacity: 1; }
}

@include keyframes(staggerAlt) {
  0% { opacity: 0; }
  20%, 40%, 80% { opacity: 0.2; }
  60%, 100% { opacity: 1; }
}
*/

@include keyframes(stagger) {
  0% { opacity: 0; }
  50% { opacity: 1; } 
  100% { opacity: 1; }
}

@include keyframes(staggerAlt) {
  0% { opacity: 0; }
  50% { opacity: 0; } 
  100% { opacity: 1; }
}

@include keyframes(pulse) {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}

/* = Base Animation Styles
----------------------------------------------------------------------------------------------------------------- */
.animate { @include anim-duration(500ms); @include timing-func(linear); @include anim-fill(both); }
.animate-slow { @include anim-duration(1000ms); @include timing-func(linear); @include anim-fill(both); }
.animate-v-slow { @include anim-duration(2000ms); @include timing-func(linear); @include anim-fill(both); }
.is-exiting .animate { @include anim-delay(0ms); @include anim-dir(alternate-reverse); }

/* = Animation Modifiers
----------------------------------------------------------------------------------------------------------------- */
.animate--page { @include anim-name(pageIn); }
.animate--page-right { @include anim-name(pageRight); }
.animate--pulse { @include anim-name(pulse); }
.animate--title { @include anim-name(titleIn); }
.animate--fade { @include anim-name(fadeIn); }
.animate--fade-expand { @include anim-name(fadeInExpand); }
.animate--slide-up { @include anim-name(slideUp); }
.animate--slide-down { @include anim-name(slideDown); }
.animate--slide-left { @include anim-name(slideLeft); }
.animate--slide-right { @include anim-name(slideRight); }
.animate--leave-up { @include anim-name(leaveUp); }

.animate--delay--250 { @include anim-delay(250ms); }
.animate--delay--500 { @include anim-delay(500ms); }
.animate--delay--750 { @include anim-delay(750ms); }
.animate--delay--1000 { @include anim-delay(1000ms); }
.animate--delay--1250 { @include anim-delay(1250ms); }
.animate--delay--1500 { @include anim-delay(1500ms); }
.animate--delay--1750 { @include anim-delay(1750ms); }
.animate--delay--2000 { @include anim-delay(2000ms); }
.animate--delay--2250 { @include anim-delay(2250ms); }
.animate--delay--2500 { @include anim-delay(2500ms); }
.animate--delay--2750 { @include anim-delay(2750ms); }
.animate--delay--3000 { @include anim-delay(3000ms); }
.animate--delay--3250 { @include anim-delay(3250ms); }
.animate--delay--3500 { @include anim-delay(3500ms); }
.animate--delay--3750 { @include anim-delay(3750ms); }
.animate--delay--4000 { @include anim-delay(4000ms); }
.animate--delay--4250 { @include anim-delay(4250ms); }
.animate--delay--4500 { @include anim-delay(4500ms); }
.animate--delay--4750 { @include anim-delay(4750ms); }
.animate--delay--5000 { @include anim-delay(5000ms); }
.animate--delay--5250 { @include anim-delay(5250ms); }
.animate--delay--5500 { @include anim-delay(5500ms); }
.animate--delay--5750 { @include anim-delay(5750ms); }, 
.animate--delay--6000 { @include anim-delay(6000ms); }

/* = Custom Animations & Overrides
----------------------------------------------------------------------------------------------------------------- */
.animate--point-ld, .animate--point-rd { @include anim-name(fadeIn, pointLeftDown); @include anim-duration(1500ms); @include anim-count(1, 3); }
.animate--moreinfo { @include anim-duration(1000ms); @include timing-func(linear); @include anim-fill(both); @include anim-name(pulse,expand); @include anim-count(infinite); @include anim-dir(alternate-reverse);}
.animate--point-rd { @include anim-name(fadeIn, pointRightDown); }
.animate--stagger { @include anim-name(stagger); @include anim-duration(2500ms); }
.animate--stagger-alt { @include anim-name(staggerAlt); @include anim-duration(2500ms); }
.overview .app__nav__item--next { @include anim-duration(750ms); @include timing-func(linear); @include anim-fill(both); @include anim-name(pulse); @include anim-count(infinite); @include anim-dir(alternate-reverse); }

.is-exiting {

  .animate--point-ld, .animate--point-rd { @include anim-name(fadeIn); @include anim-duration(250ms); }
  .animate--stagger, .animate--stagger-alt { @include anim-name(fadeIn); @include anim-duration(500ms); } 
  .custody__change__label { @include anim-name(leaveUp); @include anim-dir(normal); }

} 



  
  

