/* = Globals  
----------------------------------------------------------------------------------------------------------------- */
* { @include box-sizing(border-box); }

/* = Body
----------------------------------------------------------------------------------------------------------------- */
html { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; }
html, body { height: 100%; padding: 0; }
body { background: #fff; color: $navy; font-family: $sans; font-size: 0.875em; }

/* = Typography
----------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin: 0 0 15px; line-height: 1.3em; font-weight: 400; }
h1 { font-size: 2.2em; margin: 0; }
h2 { font-size: 1.8em; }
h3, h4, h5, h6 { font-size: 1.5em; }
 
p { margin: 0 0 20px 0; line-height: 1.3em; }

a { color: $navy; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a:hover { text-decoration: none; }

img { vertical-align: bottom; max-width: 100%; height: auto; }
small{font-size: 0.8em;}

.btn { font-family: $sans; display: inline-block; overflow: none; cursor: pointer; background: $navy; color: #fff; padding: 15px 20px; border: 0; border-bottom: solid 4px lighten($navy, 15%); text-shadow: 1px 1px 1px darken($navy, 20%); border-radius: 5px; text-transform: uppercase; line-height: 1em; @include transition(opacity ease 350ms);
	
	&--reset, &--newuser { background-color: $grey; border-color: darken($grey, 10%); color: darken($grey, 50%); text-shadow: 1px 1px 1px lighten($grey, 50%); }
  &--submit { background-color: lighten($green, 5%); border-color: darken($green, 5%); color: lighten($green, 60%); text-shadow: 1px 1px 1px darken($green, 10%); }
  &--highlight { background: $pink; border-color: darken($pink, 10%); color: #fff; text-shadow: 1px 1px 1px darken($pink, 20%); }
  &--close { background-color: transparent; border-color: transparent; color: $navy; text-shadow: none; font-size: 0.875em; padding-top: 18px; 
    span { font-size: 1.5em; }
  }
  &--split { float: left; width: 48%; text-align: center; }
  &--split:last-child { float: right; }
  &--right { float: right; }

}


/* = Lists
----------------------------------------------------------------------------------------------------------------- */
ul { margin: 0 0 30px 25px; padding: 0; line-height: 1.5em;
  li { margin: 0 0 15px; 
    ul { margin-top: 30px; margin-left: 30px; list-style-type: circle; }
  }
}

ol { margin: 0 0 30px 35px; padding: 0; line-height: 1.5em;
  li { margin: 0 0 15px; 
    ol { margin-top: 30px; margin-left: 30px; list-style-type: lower-latin; }
  }
}

.unstyled { margin: 0; list-style: none; }

/* = Forms 
----------------------------------------------------------------------------------------------------------------- */
label { float: left; width: 30%; font-size: 1.4em; padding: 10px 0; margin-bottom: 10px; }
input[type="text"], input[type="email"] { float: left; width: 70%; padding: 13px; margin-bottom: 10px; background: $navy; color: #fff; border: 0; border-radius: 4px; }
.indicates-required { text-align: right; font-size: 0.875em; }
.asterisk { color: $red; }

/* "Primary area of focus" page */

#theform {
  border: none;
}

.customise {

  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;

  h2 {
    text-align: left;
    padding-bottom: 20px;
  }


  p.lrg {
    text-align: left;
  }

  ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    clear: both;
  }

  ul li{
    display: inline-block;
    position: relative;
    width: 45%;
    margin: 10px;
    height: 60px;
    background-color: $grey;
    text-align: left;
    box-sizing: border-box;
  }

  ul li.customise--title {
    border: none;
    font-size: 0.8em;
    color: $light-blue;
    height: auto;
    margin: 0;
    background-color: transparent;
  }

  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  ul li label{
    cursor: pointer;
    transition: all 0.25s linear;
    width: 100%;
    font-size: 1.2em;
    color: #000;
    line-height: 40px;
    padding-left: 10px;
    z-index: 10;
    display: block;
    position: relative;
  }


  ul li .check{
    display: block;
    position: absolute;
    border: 1px solid #FFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    top: 5px;
    right: 10px;
    z-index: 5;
    /* transition: border .25s linear; */
    cursor: pointer;
  }

  ul li:hover .check {
    border: 1px solid #FFF;
    background-color: #FFF;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 40px;
    width: 40px;
    top: -1px;
    right: -1px;
    margin: auto;
    /* transition: background 0.25s linear; */

  }

  input[type=radio]:checked ~ .check {
    border: 6px solid $navy;
  }

  input[type=radio]:checked ~ .check::before{
    background: $navy;
  }

  input[type=radio]:checked ~ ul li label{
    color: red;
  }

  input[type=radio]:checked ~ ul li{
    border: 1px solid $navy;
  }
  
  input[type=text] {
    float: none;
    background-color: transparent;
    width: 85%;
    margin-left: 1%;
    padding: 0px;
    margin-bottom: 10px; 
    color: $navy;
    border-style: dotted;
    border-color: #FFF;
    border-width: 0 0 2px 0;
    visibility: hidden;
    /* transition: all 1s; */
  }

  input[type=text].showOtherOption { visibility: visible !important; }

  .customise--submit {
    float: right;
    text-align: right;
    height: 50px;
    width: 80%;
    vertical-align: top;
    margin-right: 30px;

      .customise--instructions {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-right: 20px;
      }
  }

  #otheroption {
    height: 45px;
  }
}



/* Form Embed Specifics */
.embed, .embed #container, .embed form, .embed body { background-color: transparent !important; }
.wufoo .info h2 { font-size: 1.8em; color: $navy; text-align: center; }
.wufoo header h3 { font-size: 1.2em; }
.wufoo .info, .wufoo .paging-context { padding-left: 0; border: 0; }
.wufoo { font-size: 1em; letter-spacing: 0; }
.wufoo  ul { list-style-type: none; margin-top: 20px; }
.wufoo li { margin-bottom: 10px; padding: 0; height: 50px; background-color: $grey; }
.wufoo li.no-bg { background-color: transparent; }
.wufoo div { position: relative; }
form.wufoo, form li.buttons { padding: 0; }
form li.buttons input { margin-right: 0; }
.wufoo label.desc, .wufoo legend.desc { width: 20%; font-weight: normal; color: $navy; line-height: 1.6em; font-family: $sans; font-size: 1.2em;
    padding: 10px; margin-bottom: 0px; }
.wufoo input.text { background: transparent; color: $navy; border: none; border-radius: none; width: 75%; }
.wufoo .email_error_msg { position: absolute; top: -30px; left: 300px; background-color: #FFF; color: $pink; border: 1px $navy solid; display: none; transition: all 1s; padding: 10px; border-radius: 6px; }


.wufoo input.btTxt { @extend .btn; @extend .btn--submit; @extend .btn--right; font-size: 1em !important; }
#errorLi { display: none; }
form li.error p.error { padding: 0 0 10px 0 !important; float: left; max-width: 25%; margin-top: -25px !important; line-height: 13px !important; }
.wufoo label.desc span.req {
  color: $red;
}

.wufoo fieldset { border: none; padding: 0; margin: 0; }
.wufoo label.choice { font-size: 1em; width: auto; float: none;}
.wufoo #foli12 label.desc, .wufoo #foli12 legend.desc,  #foli12 label { line-height: 100%; }
.wufoo .buttons { padding-top: 40px; }
.wufoo .buttons .disclaimer { width: 80%; font-size: 0.9em; float: left;}

.wufoo .h_aligned_checkboxes {
  legend { float: left; }
    .check_container { float: right; text-align: left;
    span { display: inline-block; text-align: center; margin: 0 5px; }
   }

}

/* User logged in */

#user--logged--in {
    position: absolute;
    right: 50px;
    width: 220px;
    height: 50px;
    top: 10px;
    background-image:url(../../img/user-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 0.8em;
    opacity: 0;
    transition: all 0.25s linear;
    z-index: 100;

    #user--welcome, {
      border-style: solid;
      border-width: 0 1px 0 0;
      border-color: $navy;
    }

    #user--welcome, #user--not--welcome {
      width: 90px;
      display: inline-block; 
      vertical-align: middle;
      height: 25px;
      margin-top: 10px;
      padding: 0 5px;
    }

    #signOut {
      cursor: pointer;
      color: $pink;
    }

}