/* = Drag & Drop Components
----------------------------------------------------------------------------------------------------------------- */
.drop-zone { width: 230px;

  &__item { height: 106px; margin-bottom: 10px; position: relative; overflow: hidden;
  	.gu-transit { position: absolute; top: 0; left: 0; opacity: 1;
  		p, .module__title { opacity: 0.2; }
  	}
  }
  &__item:after { content: '1'; display: block; height: 100%; padding-top: 12px; font-size: 2em; color: #ddd; font-weight: bold; text-align: center; border: solid 1px #ccc; border-top-width: 28px; @include box-sizing(border-box); }
  &__item--two:after { content: '2'; }
  &__item--three:after { content: '3'; }

}

.options { float: left; width: 230px; margin-right: 14px;

  &__item { margin-bottom: 10px; cursor: pointer; height: 106px; @include transition(opacity 350ms); }
  &__item--disabled { opacity: 0.25; }

}