/* = No SVG Fallbacks
----------------------------------------------------------------------------------------------------------------- */
.no-svg {}

/* = Helpers
----------------------------------------------------------------------------------------------------------------- */
.hide { display: none; }
.brand-reg { color: $pink; }
.brand-infra, .highlight { color: $light-blue; }
.brand-client { color: $green; }
.lrg { font-size: 1.8em; }
.med { font-size: 1.4em; }
.sml { font-size: 1.2em; }
.tight { margin: 0; }
.close { margin-bottom: 4px; }
.valign { display: block; @include valign; }
.center { text-align: center; }
.action-link { text-transform: uppercase; font-size: 0.8em; font-weight: bold; padding: 8px 0; }
.hide-text { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.js-disabled { opacity: 0.3; }
.meta { color: $grey; }

/* = Clearing
----------------------------------------------------------------------------------------------------------------- */
.clrd:before, .clear:before, .mc-field-group:before { content: " "; display: table; }
.clrd:after, .clear:after, .mc-field-group:after { content: " "; display: table; clear: both; }

/* = No Javascript
----------------------------------------------------------------------------------------------------------------- */
.no-js { }