/* = Landing Pages
----------------------------------------------------------------------------------------------------------------- */
.landing {

	h1 { background: url(../../img/intro.svg) no-repeat left top; width: 784px; height: 83px; @extend .hide-text;}
	&__logo { position: absolute; top: 30px; right: 30px; }

	a { display: inline; }

}

/* = Overview Page
----------------------------------------------------------------------------------------------------------------- */
.app__instructions { position: absolute; right: 0; bottom: 20px; max-width: 150px; text-align: right;

	&__arrow { position: absolute; top: 40px; left: -35px; }

	p { margin: 0; }

}



/* = Custody Page
----------------------------------------------------------------------------------------------------------------- */
.custody {

	&__evolve { position: absolute; top: 10%; left: 50%; width: auto; margin-left: -125px; text-align: center; font-size: 1.8em; color: $orange;
		&__more_info { background-image:url("/img/plus_evolve.png"); background-position: center; background-size: 21px 21px; background-repeat: no-repeat; cursor: pointer; width: 21px; height: 21px;  right: -20px; top: -20px;  position: absolute; }
		&__modal {
			.modal_contents { top: 100px; left: 0px;
				.col { width: 50%; }
			}
			.modal_close { background-color: $orange; }
			h2, h4 { color: $orange; }
		}
	}

	&__cloud { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: url(../../img/cloud.png) center center no-repeat; background-size: 100%; }
	
	&__arrow1, &__arrow2 { position: absolute; top: 12%; left: 0; }
	&__arrow2 { top: 20%; left: auto; right: 0; }

	&__change { position: absolute; bottom: 33%; text-align: center; font-size: 1.8em; width: 310px; }
	&__change--infra { left: 0; color: $light-blue; 

		&__arrow1 { position: absolute; bottom: 150%; left: 50%; }
		&__arrow2 { position: absolute; top: 150%; left: 80%; }
		&__more_info { cursor: pointer; width: 21px; height: 21px; background-image:url("/img/plus_infra.png"); background-position: center; background-size: 21px 21px; background-repeat: no-repeat; right: 10px; top: -20px;  position: absolute; }
		&__modal {
			.modal_contents { top: 120px; left: 0px;
				.col { width: 50%; }
			}
			.modal_close { background-color: $light-blue; }
			h2, h4 { color: $light-blue; }
		}

	}
	&__change--reg { right: 0; color: $pink; 

		&__arrow1 { position: absolute; bottom: 150%; right: 50%; }
		&__arrow2 { position: absolute; top: 150%; right: 80%; }

		&__more_info { cursor: pointer;  background-image:url("/img/plus_reg.png"); background-position: center; background-size: 21px 21px; background-repeat: no-repeat; width: 21px; height: 21px; right: 30px; top: -20px;  position: absolute; }
		&__modal { 
			.modal_contents { top: 100px; left: 0px;
				.col { width: 50%; }
			}
			.modal_close { background-color: $pink; }
			h2, h4 { color: $pink; }
		}
	}


	&__instructions { position: absolute; bottom: 20px; left: 0px; color:$navy; font-size: 1.2em;
		span { font-size: 20px; cursor: pointer; color: #FFF; width: 20px; height: 20px; border-radius: 100%; background-color: $navy; text-align: center; line-height: 16px; display: inline-block; }
	}

	&__modal {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 9999px;
		top: 0;
		background-color: rgba(255,255,255,0.8); 
		opacity: 0; 
		transition: opacity 1s ease-in-out;
		z-index: 1000;

		.modal_contents { position: absolute; background-color: rgba(255,255,255,1); border-style: solid; border-width: 1px; border-color:$navy; padding: 20px; width: 75%; left:12.5%;
					
			h2 { width: 100%; margin: 0 }

			h4 { margin: 0 0 20px 0; width: 100%;  font-size: 1.1em; }

			p { padding: 0; margin: 0; }

			ul { margin: 0 0 10px 0; padding: 0; }

			ul li { margin: 0 0 0 16px; color: $dark-grey; }

			ul li li { margin: 0 0 0 10px; list-style-type: disc; }

			.modal_close {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 2px;
				cursor: pointer;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				color: #fff;
				text-align: center;
			}
			.cols_container { padding-top: 20px; overflow: hidden; }

			.col { float: left; padding: 0px 10px 0 20px; font-size: 0.9em; padding-bottom: 100%; margin-bottom: -100%;

				h2 {font-size: 1.8em; }			
				.med { font-size:1.2em; color: $light-blue; margin: 0 0 10px 0; }
				hr { margin: 10px 0; }

			}		
			.col_fullwidth { clear: both; width: 100%; font-size: 0.9em; padding-top: 10px;}
			.col.bordered { border-style: solid; border-width: 0 1px 0 0; border-color:$navy;}
		}

		.modal_contents.mid_width {
			width: 500px;
		}
	}

}

/* = Adapt Page
----------------------------------------------------------------------------------------------------------------- */
.adapt {

	&__europe { padding-top: 10px; font-size: 0.8em; 
		h2 { font-size: 2.2em; }
	}
	&__infra { float: left; max-width: 310px; position: relative; padding-top: 30px; 
		h2 { font-size: 1.4em; }

		&__more_info {cursor: pointer; width: 21px; height: 21px; background-image:url("/img/plus_infra.png"); background-position: center; background-size: 21px 21px; background-repeat: no-repeat; right: 30px; top: 20px;  position: absolute; }
		&__modal {
			.modal_contents { top: 120px; left: 0px;
				.col { width: 50%; }
			}
			.modal_close { background-color: $light-blue; }
			h2, h4 { color: $light-blue; }
		}
	 }
	&__infra__arrow { position: absolute; top: 49%; right: -80px; z-index: 999; }
	&__reg { float: right; max-width: 310px; position: relative; margin-top: -20px; 
		&__more_info { cursor: pointer; width: 21px; height: 21px; background-image:url("/img/plus_reg.png"); background-position: center; background-size: 21px 21px; background-repeat: no-repeat; right: 40px; top: -10px;  position: absolute; }
			&__modal {
			.modal_contents { top: 100px; left: 0px;
				.col { width: 50%; }
			}
			.modal_close { background-color: $pink; }
			h2, h4 { color: $pink; }
		}
		h2 { font-size: 1.4em; }
	}
	&__reg__arrow { position: absolute; top: 40%; left: -80px;  z-index: 999;}

	&__client { float: left; width: 606px; position: relative; margin-top: 20px; 
		h2 { font-size: 1.4em; }
	}
	&__client__arrow { position: absolute; top: -65px; left: 475px;  z-index: 999;}

	&__instructions { position: absolute; bottom: 20px; right: 0px; color:$navy; font-size: 1.2em;
		span { font-size: 20px; cursor: pointer; color: #FFF; width: 20px; height: 20px; border-radius: 100%; background-color: $navy; text-align: center; line-height: 16px; display: inline-block; }
	}

	&__modal {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 9999px;
		top: 0;
		background-color: rgba(255,255,255,0.8); 
		opacity: 0; 
		transition: opacity 1s ease-in-out;
		z-index: 1000;

		.modal_contents { position: absolute; background-color: rgba(255,255,255,1); border-style: solid; border-width: 1px; border-color:$navy; padding: 20px; width: 75%; left: 12.5%; 
					
			h2 { width: 100%; margin: 0 }
			h4 { margin: 0 0 20px 0; width: 100%;  font-size: 1.1em; }
			p { padding: 0; margin: 0; }
			ul { margin: 0 0 10px 0; padding: 0; }
			ul li { margin: 0 0 0 16px; color: $dark-grey; }
			ul li li { margin: 0 0 0 10px; list-style-type: disc; }

			.modal_close {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 2px;
				cursor: pointer;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				color: #fff;
				text-align: center;
			}
			.cols_container { padding-top: 20px; overflow: hidden; }

			.col { float: left; padding: 0px 10px 0 20px; font-size: 0.9em; padding-bottom: 100%; margin-bottom: -100%;

				h2 {font-size: 1.8em; }			
				.med { font-size:1.2em; color: $light-blue; margin: 0 0 10px 0; }
				hr { margin: 10px 0; }

			}		
			.col_fullwidth { clear: both; width: 100%; font-size: 0.9em; padding-top: 10px;}
			.col.bordered { border-style: solid; border-width: 0 1px 0 0; border-color:$navy;}
		}

		.modal_contents.mid_width {
			width: 500px;
		}
	}

}

/* = Issues Page
----------------------------------------------------------------------------------------------------------------- */
.issues {
	
	&__input, &__output { float: left; }
	&__output { float: right; }
	&__indicator { float: left; margin-left: -115px; margin-top: 20px; max-width: 100px; 

		p { margin: 10px 0; }

	}
	&__buttons { margin-top: 70px; }

}


/* = Approach Page
----------------------------------------------------------------------------------------------------------------- */
.approach{

	&__box { padding: 20px 20px; background: $grey;

		h2 { color: #fff; text-transform: uppercase; }

	}

	&__today { float: left; width: 19%; }
	&__future { float: right; width: 78%; }

	&__col, &__gutter { float: left; text-align: center; position: relative; height: 36px; }
	&__col { width: 140px; }
	&__col--dbl { width: 308px; }
	&__col--today:after { content: ''; position: absolute; top: 0; right: -60px; height: 20px; width: 55px; background: url(../../img/arrow-navy-right.svg) no-repeat center center; background-size: 100%; }
	&__gutter { width: 16px; }
	&__gutter--wide { width: 70px; }

	&__key { margin: 0; padding-top: 10px; list-style: none; clear: both; text-align: right; 

		li { display: inline; font-size: 0.875em; margin-left: 12px; }
		li:before { content: ''; display: inline-block; height: 14px; width: 14px; background-color: $navy; margin: 0 4px -3px 0; }
		li.potential:before { background-color: $orange; }
		li.clients:before { background-color: $purple; }
		li.third-party:before { background-color: $cherry; }

	}

}

/* = Model
----------------------------------------------------------------------------------------------------------------- */
.model {

	&__image { float: left; max-width: 52%; padding-top: 20px; }

	&__title { margin: 10px 0 0 0; font-size: 1.6em; }

	&__info { float: right; width: 47%; padding: 20px 0 0 20px; 


		&__col { float: right; width: 45%; }
		&__col:first-child { float: left; }

	}

	&__key { clear: both; font-size: 0.9em;

		&__list { float: left; margin: 0 25px 0 0; list-style: none; 

			li { margin-bottom: 5px; }

		}
	}

	&__legend {
		width: 17%;
		clear: both;
		font-size: 0.8em;
		position: absolute;
		bottom: 10px;
		right: 0px;

		p {  
			line-height: 15px;
    		margin: 5px 0;
    	}

		p span {
		    height: 15px;
		    width: 15px; 
		    display: block;
    		float: left;
    		margin-right: 10px;
		}

		.legend_infra span {     
			background-color: $light-blue;
		}

		.legend_reg span {     
			background-color: $pink;
		}

		.legend_client span {     
			background-color: $green;
		}

	}

	h3 { font-size: 1.4em; }
	span.infra { color: $light-blue; }
	span.reg { color: $pink; }

	span.infra_block
	{	
		height: 15px;
		width: 15px; 
		display: inline-block;
    	margin-right: 5px;
    	background-color: $light-blue;
    }

    span.reg_block
	{	    
		height: 15px;
		width: 15px; 
		display: inline-block;
    	margin-right: 5px;
    	background-color: $pink;
    }

    span.client_block
	{	    
		height: 15px;
		width: 15px; 
		display: inline-block;
    	margin-right: 5px;
    	background-color: $green;
    }

    /* AVA */

    .ava___title {
    	margin-bottom: 0;
    }

    ul {

    	margin: 0 0 30px 20px;

    	li { margin: 0 0 5px; 

    		ul {

			    list-style-type: disc; margin: 10px 30px 10px;

			    li {
			    	padding: 0; margin: 0;
			    }
			}
    	}
    }

    .smaller_text { font-size: 11px; }

}

/* = Breadcrumbs
----------------------------------------------------------------------------------------------------------------- */

.model_breadcrumbs {

	a { display: inline-block; width: 123px; height: 25px; background-position: bottom left; background-repeat: no-repeat; background-size: cover; }

	a:hover { background-position: top left; }

	a.activated { background-position: top left; }

	.bc_solution { background-image:url(../../img/bc_solution.png); }
	.bc_where { background-image:url(../../img/bc_where.png); }
	.bc_otherpdcts { background-image:url(../../img/bc_otherpdcts.png); }

	.bc_otherpdcts_multi { background-image:url(../../img/bc_otherpdcts_multi12.png); width: 146px; display: none;}


}

/* = Map
----------------------------------------------------------------------------------------------------------------- */


.map {

	&__image { float: left; width: 75%; padding: 20px 0 0 0; margin: 10px 0; position: relative;
		img {position: absolute; left: 0; top: 0; width: 100%; }
	}

	&__title { margin: 10px 0 0 0; font-size: 1.6em; }

	&__datos { font-size: 1em; width: 70%; position: absolute; top: 560px; left: 0px;
		span { color: $light-blue; }
	}

	&__info { float: right; width:25%; padding: 0 0 10px 10px; margin-top: -40px;

		.hint { font-size: 10px;  padding: 0px 0px 10px 0; display: block;}

		h3 { font-size: 1.4em; border-style: solid; border-width: 0 0 1px 0; display: inline-block; }

		ul { list-style: none; margin: 0; 
			li { margin: 0 0 5px 0; font-size: 1.1em; color: $orange; }			
			li.mydy { color: $navy; }
			li.mydn { color: $light-blue; }
			li.mndn { color: $orange; }
		}

	}

	&__col { float: left; width: 49%; margin-bottom: 10px; 

		a { color: inherit; }
	}

	&__key { clear: both; font-size: 0.9em;

		&__list { float: left; margin: 0 25px 0 0; list-style: none; 
			li { margin-bottom: 5px; }
		}
	}

	&__legend {
		width: 100%;
		clear: both;
		font-size: 0.8em;

		p {  
			line-height: 15px;
    		margin: 5px 0;
    	}

		p span {
		    height: 15px;
		    width: 15px; 
		    display: block;
    		float: left;
    		margin-right: 10px;
		}

		p span.sml_text {
			display: inline-block;
			width: auto;
			height: auto;
			font-size: 10px;
    		float: right;
    		background-color: #FFF;
		}


		.mydy span {     
			background-color: $navy;
		}

		.mydn span {     
			background-color: $light-blue;
		}

		.mndn span {     
			background-color: $orange;
		}

	}

	.component { display: none; }
	.component.component--priority { display: block; }

	.map_modal {
		width: 75%;
		height: 100%;
		position: absolute;
		left: 9999px;
		top: 10px;
		background-color: rgba(255,255,255,0.8); 
		opacity: 0; 
		transition: opacity 1s ease-in-out;
		z-index: 1000;

		.map_modal_contents { position: absolute; background-color: rgba(255,255,255,1); border-style: solid; border-width: 1px; border-color:$navy; padding: 20px; width: auto; color: $dark-grey;

		.map_partial { display: none; width: 650px; }

		.map_modal_box_col { width: 45%; display: inline-block; float: left; margin: 10px 2%; 
		
			.map_modal_box { width: 100%; display:block; border-style: solid; border-width: 1px; border-color: $navy; margin-bottom: 10px;
				h3 { font-size: 1em; color: #FFF; background-color: $navy; padding: 10px; margin: 0; }
				p { padding: 10px; }
			}
		}
						
			h2 { width: 100%; margin: 0 0 0 2%; color: $orange; }

			h2.dblue { color: $navy; }

			h2.lblue { color: $light-blue; }	

			h4 { margin: 0 0 20px 0; width: 100%;  font-size: 1.1em; }

			p { padding: 0; margin: 0; }

			ul { margin: 0 0 10px 0; padding: 0; }

			ul li { margin: 0 0 0 16px; color: $dark-grey; }

			ul li li { margin: 0 0 0 10px; list-style-type: disc; }

			.map_modal_close {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 2px;
				cursor: pointer;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				color: #fff;
				background-color: $navy;
				text-align: center;
			}
			.cols_container { padding-top: 20px; overflow: hidden; }

			.col { float: left; padding: 0px 10px 0 20px; font-size: 0.9em; padding-bottom: 100%; margin-bottom: -100%;

				h2 {font-size: 1.8em; }			
				.med { font-size:1.2em; color: $light-blue; margin: 0 0 10px 0; }
				hr { margin: 10px 0; }

			}		
			.col_fullwidth { clear: both; width: 100%; font-size: 0.9em; padding-top: 10px;}
			.col.bordered { border-style: solid; border-width: 0 1px 0 0; border-color:$navy;}
		}
	}
}

/* Next Steps */

.next-steps {
	padding-top: 200px;
	text-align: center;

	.next-button {
		color: $navy;
		background-color: $grey;
		border-bottom: none;
		text-shadow: none;
		margin: 20px;
		padding-left: 40px;
		width: 280px;
		border-radius: 5px;
    	text-transform: uppercase;
		height: 60px;
		display: inline-block;
		cursor: pointer;

		span.iconspan {
			background-position: center;
			background-repeat: no-repeat;
			width: 28px;
			height: 60px;
			display: inline-block;
			float: left;
		}

		span.labelspan {
			display: inline-block;
			line-height: 60px;
    		vertical-align: middle;    	
    		float: left;
    		padding-left: 10px;
		}
	}

	#btn-another-model span.iconspan {
		background-image:url(../../img/icon_another_model.png);
	}

	#btn-new-user span.iconspan {
		background-image:url(../../img/icon_new_user.png);
		margin-left: 40px;
	}
}

