/* = Structure
----------------------------------------------------------------------------------------------------------------- */
.page, .app { height: 100%; }
.app { max-width: $app-width; min-width: $app-width; max-height: $app-height; min-height: $app-height; padding: 0 30px; background: #fff; position: relative; overflow: hidden; margin: 0 auto;
	
	&--dark { background-color: $navy; color: #fff; padding: 0 50px; }

	&__head { height: 9%; border-bottom: 1px solid $navy; vertical-align: middle; }
	&__main { height: 82%; position: relative; overflow: hidden; }
	&__main--full { height: 100%; }
	&__foot { height: 9%; border-top: 1px solid $navy; position: relative; }

}
.padder { padding: 10px 0 20px; }

/* = Navigation
----------------------------------------------------------------------------------------------------------------- */
.app__nav { float: right; height: 100%;

	&__item { float: left; @include transition(opacity ease 350ms); }
	&__item--start { margin: 11px 20px 0 0; }
	&__item--back, &__item--next, &__item--rewind { height: 100%; @extend .hide-text; background-size: 55%; width: 50px;}	
	&__item--back { background: url(../../img/nav-left.png) center center no-repeat;background-size:41px 41px;}
	&__item--next { background: url(../../img/nav-right.png) center center no-repeat;background-size:41px 41px;}
	&__item--rewind { background: url(../../img/nav-rewind.png) center center no-repeat;background-size:47px 41px;}
}

/* = Header Components
----------------------------------------------------------------------------------------------------------------- */
.app__head { position: relative; }
.app__head__logo { position: absolute; top: 50%; right: 0; margin-top: -25px; }

/* = Footer Components
----------------------------------------------------------------------------------------------------------------- */
.app__foot__brand { float: left; margin: 0; @include valign; font-size: 1.15em; }