/* = Discs
----------------------------------------------------------------------------------------------------------------- */
.disc { position: relative; position: absolute; top: 37%; z-index: 100;

	&__inner { height: 150px; width: 150px; line-height: 130px; font-size: 1.7em; text-align: center; background: #fff; border: 10px solid $navy; border-radius: 100%; position: relative; z-index: 2; }
	&--custody &__inner { background: $navy; color: #fff; height: 200px; width: 200px; line-height: normal; }

	&--custody { left: 50%; margin: -90px 0 0 -100px; }
	&--left { left: 50%; margin: -65px 0 0 -280px; }
	&--right { right: 50%; margin: -65px -280px 0 0; }
	&--bottom { left: 50%; margin: 140px 0 0 -75px; }

}

.disc__subset { margin: 0; list-style: none; position: absolute; top: 50%; width: 220px; @include translate3d(0, -50%, 0);

	li { background: $navy; color: #fff; margin: 0 0 3px 0; padding: 5px 10px; position: relative; overflow: hidden; }

	&__meta { font-size: 0.85em; background: #fff; color: $navy; padding: 2px 5px; margin: 8px 0; border-radius: 3px;}

	&--left { right: 50%; 
		li { padding-right: 80px; }
	}
	&--right { left: 50%; 
		li { padding-left: 80px; }
	}
	&--bottom { top: 95%; left: 50%; margin-left: -150px; @include translate3d(0, 0, 0);}
	&--wide { width: 300px; text-align: center; }

	&--infra { 

		li { border-left: solid 6px $light-blue; }

	}

	&--reg { 

		li { border-right: solid 6px $pink; }

	}

	&--infra-reg { 

		li { border-left: solid 6px $light-blue; border-right: solid 6px $pink; }

	}

}

.pointer { position: absolute; background: $navy; height: 30px; width: 30px; @include rotate(45deg);

	&--right { top: 50%; left: 100%; margin: -15px 0 0 -20px; }
	&--left { top: 50%; right: 100%; margin: -15px -20px 0 0; }
	&--down { top: 100%; left: 50%; margin: -20px 0 0 -15px; }
	&--up { bottom: 100%; left: 50%; margin: 0 0 -20px -15px; }

}

/* = Modules
----------------------------------------------------------------------------------------------------------------- */

.module { text-align: center; background: #fff;

	p { margin: 5px; line-height: 1.2em; }

	&--infra { border: solid 1px $light-blue; color: $light-blue; }
	&--reg { border: solid 1px $pink; color: $pink;}
	&--client { border: solid 1px $green; color: $green; height: 80px;}
	&--tight p { font-size: 0.9em; margin: 5px 10px; }

}

.module__title { margin: 0; padding: 5px 10px; font-size: 1em;

	.module--infra & { background: $light-blue; color: #fff; }
	.module--reg & { background: $pink; color: #fff; }
	.module--client & { background: $green; color: #fff; }
}

/* = Module Lists
----------------------------------------------------------------------------------------------------------------- */
.module-list { margin: 0; list-style: none; position: relative;

	li { position: relative; margin-bottom: 12px;}

	&:before { content: ''; display: block; width: 1px; position: absolute; top: 15px; bottom: 56px; }
	& li:before { content: ''; display: block; width: 20px; height: 1px; position: absolute; top: 15px; }

	&--reg:before, &--reg li:before { background: $pink; left: -20px; }
	&--infra:before, &--infra li:before { background: $light-blue; right: -20px; }

}

.module-list-h { margin: 0; list-style: none; position: relative; border-style: solid; border-width: 1px 1px 0px 1px; border-color:$green; height: 122px; padding: 15px;

	li { position: relative;  display: inline-block; width: 280px; margin: 0 0 10px 0;}
	li.list-left { margin-right: 10px; }

	/* &:before { content: ''; display: block; background-color: $green; width: 1px; position: absolute; top: -15px; bottom: 26px; right: -10px; } */

	& li:before { content: ''; display: block; background-color: $green; width: 15px; height: 1px; position: absolute; top: 15px; right: -15px; }
	& li.list-left:before { content: ''; display: block; background-color: $green; width: 15px; height: 1px; position: absolute; top: 15px; left: -15px;}
}



/* = Towers
----------------------------------------------------------------------------------------------------------------- */
.tower {float: left;

	&--push { margin-right: 15px; }
	&--push-wide { margin-right: 70px; }

	&__list { float: left; margin: 0; width: 140px; list-style: none;

		li { margin: 0; height: 100px; padding: 40px 10px 0; background: $navy; color: #ccc; text-align: center; position: relative; margin-bottom: -41px; line-height: 1.2em; font-weight: bold; }
		li:first-child, li:last-child { background: url(../../img/block.png) no-repeat left top; }
		li:last-child { margin-bottom: 0; }
		li.dbl { padding-top: 33px; }
		li.multi { line-height: 2em; }
		li.potential { background-image: url(../../img/block-potential.png); color: #fff; }

	}

	&__list--expanded{

		li { background: url(../../img/block.png) no-repeat left top; margin-bottom: -26px; }

	}

	&__list--tight { 

		li { padding: 13px 0 0; height: 90px; margin-bottom: -44px; height: 90px;

			span { display: block; padding: 8px; }
			.own { background: $purple; }
			.third-party { background: $cherry; }


		}
		li:first-child { padding-top: 35px; height: 110px; }
		li:last-child { height: 100px; }

	}

	&__bar { float: left; background: $navy url(../../img/f2b.svg) no-repeat center center; background-size: 50%; height: 368px; width: 40px; margin-left: 5px; }

}


/* = Model Components
----------------------------------------------------------------------------------------------------------------- */
.component { border-left: solid 7px $grey; padding-left: 8px; color: #4c0091; position: relative; margin-bottom: 25px; display: none; 

	h3 { font-size: 1.4em; margin-bottom: 3px; }
	p { font-size: 0.9em; margin: 0; }

	&--infra { border-left-color: $light-blue; }
	&--reg { border-left-color: $pink; }
	&--client { border-left-color: $green; }
	&--priority { color: #000; }
}

.component.component--priority { display: block; }

/* = Icons
----------------------------------------------------------------------------------------------------------------- */
.icon { float: left; height: 17px; width: 17px; line-height: 1.15em; margin-right: 6px; text-align: center; border-radius: 100%;

	&--check { color: $green; border: solid 1px $green; line-height: 1.2em; }
	&--check-full { color: #fff; border: solid 1px $green; background: $green; line-height: 1.2em; }
	&--cross { color: $red; border: solid 1px $red; }
	&--minus { color: $navy; border: solid 1px $navy; }
	&--infra { background: $light-blue; }
	&--reg { background: $pink; }
	&--priority { background: $orange; }
	&--not-priority { background: $purple; }

	&--lrg { height: 28px; width: 28px; line-height: 1.6em; font-size: 1.1em; border-width: 2px; }

	.component & { position: absolute; top: -12px; right: 0; margin: 0; }

}

/* = Lightbox
----------------------------------------------------------------------------------------------------------------- */
.lightbox { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.95); opacity: 1; transition: opacity 500ms ease; 

	&__content { max-width: 700px; margin: 0 auto; }
	&.visual-hide { height: 0; overflow: hidden; opacity: 0; }
	.btn--close { position: absolute; top: 30px; right: 20px; }

}

